.widget-wrapp {
    width: 100%;
}

img {
    width: 100%;
}

.ttest {
    border: 1px solid black;
}
.container{
    margin-top: 10px;
}
.hu{
    width: 100%;
    height: 50px;
    background-color: brown;
    margin-bottom: 10px; 
}